.menu-container {
    background: white;
    margin: 40px 84px;
    padding: 40px 40px;
}

.menu-item {
  padding: 1em;
}

.menu-item-name {
}



.order-form-container {
  display: flex;
  justify-content: flex-end
}

.order-form {
  display: flex !important;
  margin: 0px;
  & input {
    margin: 0;
    padding: 0 20px;
  }
  .form-group {
    .form-control{
      // padding: 0 30px;
      width: 85px;
    }
  }
}


.menu-item-to-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-menu-item {
  min-width: 300px;
  & p {
    margin: 0;
  }
}

.container-cards {
  margin-bottom: 2em;
  background: #F4F4F4;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    margin-bottom: 0.75em;
  }
}

.pending-orders-container {
  margin: 40px 84px;
  .container-cards{
    background: white;
    margin: 0;
  }
}

@media (min-width: 100px) and (max-width: 500px) {
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: auto;
  }

  .menu-container {
    background: $white;
    margin: 40px 84px;
    padding: 40px 40px;
    h1 {
      color: $dark-green;
    }
    h4 {
      color: $dark-green;
      text-align: center;
    }
  }

  .menu-item-to-flex {
    justify-content: center;
    padding: 1em;
    background: $dark-green;
    margin-bottom: 1em;
  }
  .text-menu-item {
    text-align: center;
    margin-bottom: 1em;
    p {
      color: $white;
      height: 0px;
      margin: 20px 0;
      font-size: 1.3rem;
    }
  }
  .change-ul {
    padding: 1em;
  }
  .simple_form .order-form {
    form input[type=submit] {
      background: $white !important;
      color: $dark-green !important;
    }
  }
  .order-form-container {
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .pending-orders-container{
    margin: 40px 84px;
    .container-cards{
      background: white;
      margin: 0;
    }
  }
}
