// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$pink: #ffccda; //ffccda fae1e8
$dark-green: #122932;
$white: #F4F6F4; //F0F7F9 F2F8F3 F7FAF0
$dark-blue: #05103a;
$dark-gray: #222223;
$marker-green: #067D54;
$marker-orange: #EB8600;
$marker-red: #C33200;
