// Specific CSS for your home-page
.padded {
  padding: 30px 0;
}

.homepage_card {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: $white ;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin: 20px;
  // margin-top: 100px;
  // margin-bottom: 500px;

   &:hover {
      color: $pink;
      transform: scale(1.2);
      transition: transform .2s;
  }
  a {
   text-decoration: none;
   color: $white ;
   &:hover{
    text-decoration: none;
    color: $pink;
   }
  }
}

.blank {
  padding: 200px;
}




.homepage-title {
  h1 {
    color: $white;
  }
}

