<h1 class="text-center">You booked the table number <%= @table.number_of_table %></h1>
<h3 class="text-center"> Make your order </h3>
<div class="container">
  <%# @order.table.restaurant.menus.menu_items.each do |menu_item| %>
    <%#= menu_item.item_name %>
  <%# end %>

</div>
