<div class="home-banner">
  <div class="container">
    <%= link_to "See Restaurants", restaurants_path, class: "btn btn-warning" %>
  </div>
</div>

<div class='container py-5'>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus excepturi cupiditate magni tempora, voluptates repellendus quo consectetur quam, blanditiis eligendi soluta itaque consequatur, molestiae ullam ratione eum reprehenderit maiores culpa.
</div>
