@import "show";
@import "card";

.content {
  display: flex;
  height: 100vh;
}

// .cards {
//   flex-grow: 1;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px;
// }

/*Media Queries*/

/*Smallest device*/

// @media (min-width: 100px) and (max-width: 630px) {
//   html {
//     font-size: 1em !important;
//   }
//   .map {
//     position: relative !important;
//   }
//   .restaurant-cards {
//     padding-left: 3rem !important;
//   }
//   .card-product {
//     margin-right: 0 !important;
//     height: 364px;
//     width: 100%;
//     display: block;
//   }
// }
@media (min-width: 100px) and (max-width: 300px) {
  html {
    font-size: 1em !important;
  }
  .map {
    position: relative !important;
  }
  .restaurant-cards {
    padding-left: 3rem !important;
  }
  .card-product {
    margin-right: 0 !important;
    height: 386px;
    width: 100%;
    display: block;
    img {
      height: 10.5em;
      width: 100%;
    }
  }
}

@media (min-width: 300px) and (max-width: 463px) {
  html {
    font-size: 1em !important;
  }
  .map {
    position: relative !important;
  }
  .restaurant-cards {
    padding-left: 3rem !important;
  }
  .card-product {
    margin-right: 0 !important;
    height: 418px;
    width: 100%;
    display: block;
    img {
      height: 14.5em;
      width: 100%;
    }
  }
}



@media (min-width: 463px) and (max-width: 516px) {
  html {
    font-size: 1em !important;
  }
  .map {
    position: relative !important;
  }
  .restaurant-cards {
    padding-left: 3rem !important;
  }
  .card-product {
    margin-right: 0 !important;
    height: 466px;
    width: 100%;
    display: block;
    img {
      height: 17.5em;
      width: 100%;
    }
  }
}

@media (min-width: 516px) and (max-width: 630px){
  html {
    font-size: 1em !important;
  }
  .map {
    position: relative !important;
  }
  .restaurant-cards {
    padding-left: 3rem !important;
  }
  .card-product {
    margin-right: 0 !important;
    height: 546px;
    width: 100%;
    display: block;
    img {
      height: 21.5em;
      width: 100%;
    }
  }
}


@media (min-width: 630px) {
  html {
    font-size: 1em !important;
  }
  .map {
    position: relative !important;
  }
  .restaurant-cards {
    padding-left: 3rem !important;
  }
  .card-product {
    margin-right: 0 !important;
    // height: 364px;
    // width: 100%;
    // display: block;
  }
}



@media (min-width: 992px) {
  html {
    font-size: 0.8em !important;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 0.9em !important;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1em !important;
  }
}


/*Medium devices (tablets, 768px and up)*/
// @media (min-width: 1200px) {

//   // #map {
//   //   display: block;
//   // }
// }
