.home-banner {
  background-image: linear-gradient(to bottom right, rgba(0, 47, 75, .5), rgba(255, 204, 218, 0.5)), url('');
  background-size: cover;
  background-position: center;
  //height: 90vh;
  color: #eee;
  text-align: center;
  padding: 29vh 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.home-banner #banner-typed-text{
  font-size: 200%;
  font-weight: bolder;
}
