.home-banner {
  background-image: linear-gradient(to bottom right, rgba(0, 47, 75, .5), rgba(255, 204, 218, 0.5)), url('https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.home-banner #banner-typed-text{
  font-size: 200%;
  font-weight: bolder;
}

.banner-show-restaurant {
  background-size: cover;
  background-position: center;
  height: 50vh;
  text-align: center;
  padding-top: 40vh;
  position: relative;
  .info-banner {
    width: 75vw;
    // position: absolute;
    // left: 116px;
    // bottom: -5px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-left {
      h1{
        margin-bottom: 0px;
        color: $white !important;
        text-align: start;
      }
      p {
        color: $white !important;
        margin: 0px;
        text-align: start;
      }
    }
  }
  .info-bottom {
    width: 75vw;
    margin: 0px auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    .right {
      border-radius: 11px;
      height: 1.75em;
      width: 10.7em;
      p {
        margin-bottom: 0px;
      }
    }
    .left{
      p {
        margin-bottom: 0px;
      }
    }
  }
}

