.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: none !important;
  box-shadow: none !important;
  height: 305px;
  width: 285px;

}

.mapboxgl-popup-content a {
  color: $dark-green;
  text-decoration: none;
  &:hover {
    color: $rose;
  }

}

.image-popup {
  border-radius: 8px !important;
  margin: 5px;
  height: 5px;
  width: 200px;
}

#map {
  // float: right;
  position: sticky;
  top: 150px !important;
}
