.menu-item {
  padding: 1em;
}

.menu-item-name {
}


.menu-item-to-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-menu-item {
  min-width: 300px;
  & p {
    margin: 0;
  }
}

.container-cards {
  margin-bottom: 2em;
  background: #F4F4F4;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    margin-bottom: 0.75em;
  }
}

@media (min-width: 100px) and (max-width: 500px) {
  .menu-item-to-flex {
    justify-content: center;
    padding: 1em;
    background: lightgrey;
    margin-bottom: 1em;
  }
  .text-menu-item {
    text-align: center;
    margin-bottom: 1em;
  }
  .change-ul {
    padding: 1em;
  }
}
