// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "orders/index";
@import "restaurants/index";

// body {
//   background-color: rgba(	255, 204,	218, 0.1);
// }

html {
  font-size: 1em;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto;
}

h1, h2, h3, h4 {
  color: $dark-green;
}

p {
  color: $dark-gray;
}


h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

p {
  font-weight: lighter;
}


h1 {
  font-size: 1.875em;
  font-weight: 600px;
}
h2 {
  font-size: 1.5625em;
  margin-bottom: 1.25em;
}
h3 {
  font-size: 1.4375em;
}
